
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<style>
    .footcontainer {
        background-color: #012169; 
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .email {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-family: 'Georgia', sans-serif;
        font-size: 16px;
    }
    .email img {
        width: 20px;
        height: auto;
        margin-right: 10px;
    }
</style>
<div class="footcontainer">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Open+Sans:400,400i,700" rel="stylesheet">
    <img src="images/duke_university_white.png" alt="Duke logo" style="width: 200px;">
    <div class="email">
        <img src="images/email icon.png" alt="email icon">
        <p style="margin: 0;">polypeptidehelicity@duke.edu</p>
    </div>
</div>

