
<style>
    .image {
        float: left;
        width: 250px;
    }
    .vertical-line {
        border-left: 2px solid white; 
        height: 70%; 
        margin-left: 25px
    }
    .header-pos {
        text-align: left; 
        margin-left: 30px;
    }
</style>
<div style="background-color: #012169; padding: 20px;">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Open+Sans:400,400i,700" rel="stylesheet">
    <img src="duke_university_white.png" alt="Duke logo" class="image">
    <div style="display: flex; height: 180px;">
        <div class="vertical-line">
        </div>
    <div class="header-pos">
        <h1 style="color: white; font-size: 52px; font-family: 'Georgia', sans-serif;">Polypeptide Helicity and Ensemble Prediction Tool</h1>
    </div>
    </div>
</div>
