
    <div style="background-color: #FFFFFF; padding: 5px;">
    <img src="logo2.png" alt="Duke logo">
    <h2 style="text-align: center; color: #00539B;">Admin Page.</h2>
    <p style="text-align: center; color: #00539B;">Filler text lmao.</p>
    </div>
    