
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top clearfix row">
            <div class="col-lg-3">
                  
                <div id="block-subsite-branding" class="block block-ctools block-entity-viewnode block-">
                </div>
            <div id="block-generalcontactblock" class="block block-block-content block-block-content299eda1d-b306-4b49-86c1-922b9287a0aa block-contact-info-block">
            <div class="clearfix text-formatted body apply-accent"><article class="align-center media media--type-image media--view-mode-full">
            <div class="field-media-image apply-accent">  <img src="footer-image.svg" alt="Duke University School of Medicine logo" typeof="foaf:Image">

            </div>
            </article>
            </div>
            </div>

            <div id="block-som-givecampaign" class="block block-block-content block-block-contentb067bce1-6d9c-4908-8305-1288ce4e59ca block-unrestricted-text">
  
            <div class="clearfix text-formatted body apply-accent">
                <div class="menu--utility">
                    <hr style="margin: 1.5rem 0; padding: 0; border-top-color: #b5b5b5; opacity: .5;">
                    <hr style="margin: 1.5rem 0; padding: 0; border-top-color: #b5b5b5; opacity: .5;">
                </div>
            </div>
            </div>


            </div>
            <div class="col-lg-6 footer-menu__wrapper">
                <nav role="navigation" aria-labelledby="block-footer-navigation-main-menu" id="block-footer-navigation-main" class="menu--footer">
                    <h2 class="sr-only" id="block-footer-navigation-main-menu">Footer</h2>
                </nav>
            </div>
            <div class="col-lg-3">      
            <div id="block-mainsitesocialfooter" class="block block-block-content block-block-content02426db0-7635-4c56-9c5e-e7bee8d86fe4 block-footer-block-type">
            <div class="clearfix text-formatted body apply-accent"><p><a data-entity-substitution="canonical" data-entity-type="node" data-entity-uuid="539585e3-b021-4e8e-a979-9a458ddc8b93" href="/about-us/terms-and-conditions">Terms and Conditions</a><br>
                <a href="https://accessibility.duke.edu/.">Accessibility</a></p></div>
      
            </div>
            </div>
            </div>
            </div>

            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                    <div class="col-md-6">
                        <p>
                          <a href="https://medschool.duke.edu">medschool.duke.edu</a>
                            |
                          <a href="https://duke.edu">duke.edu</a>
                            |
                          <a href="https://dukehealth.org">dukehealth.org</a>
                        </p>
                    </div>
              <div class="col-md-6">
                <p>@2024 Duke University and Duke University Health System.
                  All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>

      </footer>
